body {
	font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
	padding: 1em;
	margin: 0 auto;
 	max-width: 820px;
 	padding-left: 10px;
 	padding-right: 10px;
}

.subtitle {
	text-align: center;
	margin-bottom: 30px;
}

.subtitle a {
	padding: 10px;
}

a {
	color: #007bff;
}

a:visited {
	color: #003e80;
}

header {
	text-align: right;
}

pre {
	padding: 0.4rem 1rem;
	margin: 0 -1rem;
	background-color: rgb(230, 230, 230);
}
