body {
	font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
	padding: 1em;
	margin: 0 auto;
	max-width: 44em;
	padding-left: 10px;
	padding-right: 10px;
}

.subtitle {
	text-align: center;
	margin-bottom: 30px;
}

.subtitle a {
	padding: 10px;
}

.footer {
	padding-top: 10px;
	margin-top: 30px;
	border-top: 1px solid #000000;
}

.footer a {
	padding: 10px;
}

a {
	color: #007bff;
}

a:visited {
	color: #003e80;
}

header {
	text-align: right;
}

pre {
	padding: 0.4rem 1rem;
	font-family: "inconsolata", monospace;
	margin: 0 -1rem;
	background-color: rgb(230, 230, 230);
}

textarea {
	resize: none;
	font-family: "inconsolata", monospace;
	width: 100%;
	padding: 0.4rem 1rem;
	margin: 0 -1rem;
	border: none;
	outline: none;
	background-color: rgb(230, 230, 230);
}
